/*
 * CredofasterPartnerApiLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package ke.co.credofaster.partner.apitest.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import ke.co.credofaster.partner.apitest.*;
import ke.co.credofaster.partner.apitest.models.*;
import ke.co.credofaster.partner.apitest.exceptions.*;
import ke.co.credofaster.partner.apitest.http.client.HttpClient;
import ke.co.credofaster.partner.apitest.http.client.HttpContext;
import ke.co.credofaster.partner.apitest.http.request.HttpRequest;
import ke.co.credofaster.partner.apitest.http.response.HttpResponse;
import ke.co.credofaster.partner.apitest.http.response.HttpStringResponse;
import ke.co.credofaster.partner.apitest.http.client.APICallBack;
import ke.co.credofaster.partner.apitest.controllers.syncwrapper.APICallBackCatcher;

public class MainController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static MainController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the MainController class 
     */
    public static MainController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new MainController();
                }
            }
        }
        return instance;
    }

    /**
     * Request Airtime Purchase
     * @param    request    Required parameter: Example: 
     * @return    Returns the List<PartnerAirtimeResponse> response from the API call 
     */
    public List<PartnerAirtimeResponse> airtimeRequest(
                final PartnerAirtimeRequest request
    ) throws Throwable {

        HttpRequest _request = _buildAirtimeRequestRequest(request);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleAirtimeRequestResponse(_context);
    }

    /**
     * Request Airtime Purchase
     * @param    request    Required parameter: Example: 
     */
    public void airtimeRequestAsync(
                final PartnerAirtimeRequest request,
                final APICallBack<List<PartnerAirtimeResponse>> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildAirtimeRequestRequest(request);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            List<PartnerAirtimeResponse> returnValue = _handleAirtimeRequestResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for airtimeRequest
     */
    private HttpRequest _buildAirtimeRequestRequest(
                final PartnerAirtimeRequest request) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri(Servers.ENUM_DEFAULT);

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/airtime/request");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("ApiKey", Configuration.apiKey);
        _headers.put("ClientId", Configuration.clientId);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");
        _headers.put("content-type", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(request));

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for airtimeRequest
     * @return An object of type List<PartnerAirtimeResponse>
     */
    private List<PartnerAirtimeResponse> _handleAirtimeRequestResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        List<PartnerAirtimeResponse> _result = APIHelper.deserialize(_responseBody,
									new TypeReference<List<PartnerAirtimeResponse>>(){});

        return _result;
    }

    /**
     * Gets the current Working Balance. 
     * Balance is SIGNED
     * @return    Returns the PartnerAirtimeBalanceResponse response from the API call 
     */
    public PartnerAirtimeBalanceResponse airtimeBalance(
    ) throws Throwable {

        HttpRequest _request = _buildAirtimeBalanceRequest();
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleAirtimeBalanceResponse(_context);
    }

    /**
     * Gets the current Working Balance. 
     * Balance is SIGNED
     */
    public void airtimeBalanceAsync(
                final APICallBack<PartnerAirtimeBalanceResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildAirtimeBalanceRequest();
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            PartnerAirtimeBalanceResponse returnValue = _handleAirtimeBalanceResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for airtimeBalance
     */
    private HttpRequest _buildAirtimeBalanceRequest() throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri(Servers.ENUM_DEFAULT);

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/airtime/balance");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("ApiKey", Configuration.apiKey);
        _headers.put("ClientId", Configuration.clientId);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().post(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for airtimeBalance
     * @return An object of type PartnerAirtimeBalanceResponse
     */
    private PartnerAirtimeBalanceResponse _handleAirtimeBalanceResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        PartnerAirtimeBalanceResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<PartnerAirtimeBalanceResponse>(){});

        return _result;
    }

}
